.action-button {
    padding: var(--button-padding);
    border: 1px solid rgba(var(--hl-color), 1);
    border-radius: var(--button-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 500;
    color: rgba(var(--hl-color), 1);
    transition: var(--active-duration);
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    white-space: noWrap;
}

.action-button:hover {
    background-color: rgba(var(--hl-color), 0.75);
    text-decoration: none;
    color: var(--light-text-color);
}

.action-button:active {
    opacity: var(--active-opacity);
}

.action-button:disabled {
    background-color: rgba(var(--hl-color), 0.5);
    cursor: default;
}