.create-button {
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    font-size: 0.85em;
    cursor: pointer;
    font-weight: 500;
    color: var(--light-text-color);
    transition: var(--active-duration);
    background-color:var(--text-hl-color);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    white-space: nowrap;
    border: 1px solid var(--text-hl-contrast-color);
}

.create-button:hover {
    background-color: var(--text-hl-color-muted);
    text-decoration: none;
    border: 1px solid var(--text-hl-color);
}