.side-bar-button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    overflow: hidden;
    padding: 8px 16px;
    font-size: 0.85em;
    transition: all var(--hover-duration);
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    color: rgb(var(--hl-color));
    background-color: rgba(var(--hl-color), var(--button-bg-opacity));
    user-select: none;
}

.side-bar-button:hover {
    background-color: rgba(var(--hl-color), var(--button-bg-hover-opacity));
    text-decoration: none;
}

.side-bar-button:active {
    opacity: var(--active-opacity);
}

.side-bar-button + .side-bar-button {
    margin-top: 8px;
}

.side-bar-button svg {
    height: 20px;
    width: 20px;
}