.activity-wrapper {
    display: flex;
    align-items: center;
    gap: var(--normal-gap);
    z-index: 1;
    padding: 0;
}

.text-wrapper {
    display: flex;
    gap: var(--normal-gap);
    align-items: baseline;
    flex-wrap: wrap;
    white-space: nowrap;
}

.activity-wrapper.complete {
    cursor: pointer;
}

.activity-wrapper.complete:hover .text-wrapper {
    text-decoration: underline;
}

/* .icon-wrapper {
    background-color: var(--white-bg);
} */